<div class="container">
  <div class="col-12 text-center" style="padding: 20px 0;">
    <h3>Аналитика для короткого урл - {{hostname + '/' + link}}</h3>
    <div chart class="chart" 
      [data]="data" 
      [options]="options" 
      [labels]="labels" 
      [columnTypes]="columnTypes" 
      [chartType]="'Line'">
    </div>
  </div>
  <div style="float: left;margin-top: 20px;" class="col-sm-12 col-md-12 col-lg-6">
    <h4>Платформа</h4>
    <div chart class="chartPie" 
      [data]="dataPlatform" 
      [options]="optionsPie" 
      [labels]="labelsPlatform" 
      [columnTypes]="columnTypes" 
      [chartType]="'Pie'">
    </div>
  </div>
  <div style="float: right;margin-top: 20px;" class="col-sm-12 col-md-12 col-lg-6">
    <h4>Браузер</h4>
    <div chart class="chartPie" 
      [data]="dataBrowser" 
      [options]="optionsPie" 
      [labels]="labelsBrowser" 
      [columnTypes]="columnTypes" 
      [chartType]="'Pie'">
    </div>
  </div>
  <div style="margin-top: 40px; margin-bottom: 10px;">URL реферера: {{refererCount}}</div>
  <table style="margin-bottom: 50px;" class="table table-striped">
    <thead>
    <tr>
      <th scope="col">РЕФЕР URL</th>
      <th scope="col">ПЕРЕХОДЫ</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let referer of referers; let i = index;">
      <th scope="row"><a href="{{referer.url}}">{{referer.url}}</a></th>
      <td>{{referer.count}}</td>
    </tr>
    </tbody>
  </table>
</div>