<div class = "container">
  <div style="margin-top: 40px;" class="row">
    <div class="col-sm-12 col-md-6">
      <form (ngSubmit)="onSubmit()" [formGroup]="urlForm" class="d-flex flex-column justify-content-center">
        <div class = "form-group">
          <label style="width: 100%; text-align: center;" for = "urlInput">Вставте свою длинную ссылку:</label>
          <input type = "url" class = "form-control" formControlName="url"
            id = "urlInput"
            placeholder = "http://yousite.com">
        </div>
        <div *ngIf="!urlForm.valid" class="text-danger text-center">Необходимо заполнить «Длинная ссылка»</div>
        <div class="d-flex justify-content-center">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="fallow" id="inlineCheckbox1" value="all">
            <label class="form-check-label" for="inlineCheckbox1">Вечно</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="fallow" id="inlineCheckbox2" value="week">
            <label class="form-check-label" for="inlineCheckbox2">Одна неделя</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="fallow" id="inlineCheckbox3" value="month">
            <label class="form-check-label" for="inlineCheckbox3">Один месяц</label>
          </div>
        </div>

        <button style="margin-top: 10px;" type = "submit" class = "btn btn-primary">Получить короткую ссылку</button>
      </form>
    </div>
    <div style="margin-top: 30px;" class="col-sm-12 col-md-6">
      <h5 class="text-center">Статистика:</h5>
      <div class="d-flex justify-content-center">
          <div class="col-md-5 p-2 text-center">
              <p style="font-size: 20px">{{count}}</p>
              <span style="font-size: 18px">всего ссылок</span>
          </div>
          <div class="col-md-5 p-2 text-center">
              <p style="font-size: 20px">{{clicksCount}}</p>
              <span style="font-size: 18px">всего переходов</span>
          </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 40px; margin-bottom: 10px;">Последние публичные ссылки:</div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">ОРИГИНАЛЬНЫЙ УРЛ</th>
      <th scope="col">СОЗДАНО</th>
      <th scope="col">КЛИКИ</th>
      <th scope="col">КОРОТКАЯ ССЫЛКА</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let url of urls; let i = index;">
      <th scope="row"><a href="{{url.url}}">{{url.url}}</a></th>
      <td>{{url.created_date | date: 'medium'}}</td>
      <td>{{url.clicks}}</td>
      <td><a href="{{hostname + '/' + url.min_url}}">{{hostname + '/' + url.min_url}}</a></td>
      <td><a [routerLink] = "['../detail', url.min_url]">Аналитика</a></td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination
    (pageChange)="changePage($event)"
    [(page)] = "page"
    [pageSize]="10"
    [collectionSize]="count">
  </ngb-pagination>
  
</div>